header
{
    font-size: xx-large;
    text-align: center;
    color: grey;
}

main
{
    font-size: xx-large;
    text-align: center;
    color: grey;
}

img
{
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
}

footer
{
    font-size: xx-large;
    text-align: center;
    color: grey;
}
 a:hover
 {
     color:lightblue;
 }